<%- include('header'); -%> 
<div class="pagenotfound"> 
    <h1 class="E404">404</h1>
    <h3 >Page not found </h3> 
    <p> go back to <a href="/">Home</a></p>   
</div>


<%- include('footer'); -%> 