<%- include('header'); -%> 

<section >
<div class="msg">
    <ul>
        
    </ul>
</div>
<div class="send">
    <input type="text">
    <button>send</button>
</div>
</section>

<%- include('footer'); -%> 