<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatRoom</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
   <header>
       <h1><a href="/">ChatRoom </a></h1>
       <nav>
           <ul>
               <li>
                   <a href="/">ChatRoom<ChatRoom/a>
               </li>
               <li>
                <a href="/login">Login<Login/a>
               </li>
            <li>
                <a href="/signup">Signup</a>
            </li>
           </ul>
       </nav>
   </header>
   <main>
