<%- include('header'); -%> 


<section class="signup">
    <form >
        <label for="username">Enter username</label>
        <input type="text" id="username">
        <label for="password">Enter password</label>
        <input type="password" id="password">
        <label for="password-confirm">Confirm password</label>
        <input type="password" id="password-confirm">
        <button>signup</button>
    </form>
</section>
<%- include('footer'); -%> 